<!DOCTYPE html>
<html>
<head>
  <title>Plush</title>
  <%= stylesheet_link_tag    "plush/application", media: "all" %>
  <%= javascript_include_tag "plush/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
